@import './variables/colors';
@import './mixins/utilities';

body {
    background: $white;
    color: $black_100;
}

h1 {
    font-size: 32px;
    font-weight: 600;
    line-height: 32px;
}

h2 {
    font-size: 28px;
    line-height: 28px;
    font-weight: 600;
}

header {
    background: $oxford_blue;
    @include pad(20px);
    border-bottom: 2px solid rgb(26, 26, 26);
    p {
        color: $white;
        font-size: 26px;
        line-height: 1;
        font-weight: 600;
    }
}

main {
    @include pad(20px);
    padding-top: 40px;
}

section {
    margin-top: 20px;
}

.container {
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
}

.welcome-message {
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 20px;
    width: 50%;
}

.form-container {
    width: 60%;
}

table {
    width: 100%;
    border: 1px solid;
    margin-top: 20px;
    caption {
        text-align: left;
        text-decoration: underline;
        margin-bottom: 15px;
    }
    th {
        @include pad();
        text-align: left;
        text-align: left;
        border-bottom: 1px solid;
        border-right: 1px solid;
        background: $grey_200;
        font-weight: 600;
    }
    tr {
        &:nth-last-of-type(even) {
            background: $grey_100;
        }
    }
    td {
        @include pad();
        border-bottom: 1px solid;
        border-right: 1px solid;
    }
}

form {
    margin-bottom: 30px;
    input[type="number"] {
        @include pad();
        display: block;
        width: 200px;
        height: 40px;
        border: 2px solid;
        margin: 10px 0 0;
    }
    label {
        display: inline-block;
        margin: 20px 0 10px 0;
    }
    input.error {
        border-color: $red;
    }
    input[type=submit] {
        @include button;
        margin-top: 20px;
    }
}

.error-message {
    font-size: 12px;
    line-height: 12px;
    color: $red;
}


@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {

    .welcome-message,
    .form-container {
        width: 100%;
    }

	table, thead, tbody, th, td, tr { 
        display: block; 
        border: 0;
    }

    table {
        caption {
            display: block;
        }
        tr {
            border: 1px solid;
            border-top: 0;
            th {
                position: absolute;
                top: -9999px;
                left: -9999px;
            }
            td {
                border: none;
                position: relative;
                padding-left: 50%; 
                word-break: break-all;
                &:before {
                    position: absolute;
                    top: 10px;
                    left: 5px;
                    width: 35%; 
                    padding-right: 10px; 
                    white-space: nowrap;
                }
                &:nth-of-type(1) {
                    &:before {
                        content: "First Name:";
                    }
                }
                &:nth-of-type(2) {
                    &:before {
                        content: "Last Name:";
                    }
                }
                &:nth-of-type(3) {
                    &:before {
                        content: "Email:";
                    }
                }
            }
        }
    }
}