doctype html
html(lang='en-GB')
    head
        title= title
        link(rel='stylesheet', href='/static/css/reset.css')
        link(rel='stylesheet', href='/static/css/style.css')
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
    body
        header
            include partials/header
        main
            block content